<div class="data-transfer-container">
  <h4>Import data:</h4>
  <div class="buttons">
    <button mat-raised-button color="primary">Import JSON</button>
  </div>
  <h4>Download all transactions:</h4>
  <div class="buttons">
    <button mat-raised-button color="primary">Download JSON</button>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <h4>Download all transactions with filtration:</h4>
  <div class="buttons">
    <button mat-raised-button color="primary">Download JSON</button>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>
</div>
