@import "_variables";

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-page {
  @extend .flex-center;
  flex-direction: column;
  min-height: 74vh;
}

.form {
  @extend .flex-center;
  flex-direction: column;
  height: 100%;
  width: 40%;
  min-width: 200px;
  background-color: $color-form;
  padding: 15px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  margin: 4px 0;
  width: 80%;
}

.question {
  margin-top: 10px;
  margin-bottom: 0;
}
