@import "_extends";
@import "_variables";

.settings-container {
  @extend .center-page;
}

.user-form {
  @extend .form;
  flex-direction: column;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  gap: 30px;
}

.nested-component-conatiner {
  width: 100%;
}
