<div class="change-password-container">
  <h2>Change password</h2>
  <form [formGroup]="changePasswordForm" (submit)="changePassword()" class="form">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input autocomplete="current-password" type="password" matInput formControlName="currentPassword">
      <mat-error *ngIf="controls.currentPassword.invalid">{{getErrorMessage(controls.currentPassword)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input autocomplete="new-password" type="password" matInput formControlName="newPassword">
      <mat-error *ngIf="controls.newPassword.invalid">{{getErrorMessage(controls.newPassword)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat new password</mat-label>
      <input autocomplete="new-password" type="password" matInput formControlName="repeatNewPassword">
      <mat-error *ngIf="controls.repeatNewPassword.invalid">{{getErrorMessage(controls.repeatNewPassword)}}</mat-error>
    </mat-form-field>

    <button [disabled]="changePasswordForm.invalid" type="submit" mat-raised-button color="primary">Save</button>
  </form>
</div>
