<div class="login-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="controls.email.invalid">{{getErrorMessage(controls.email)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="controls.email.invalid">{{getErrorMessage(controls.password)}}</mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Login</button>
    <p class="question">Have you account already?</p>
    <button type="button" routerLink="/{{RouterEnum.register}}" mat-raised-button color="primary">Register</button>
  </form>

</div>
