<mat-toolbar color="primary" class="header">
  <span>Cash Control</span>
  <nav>
    <button *ngIf="!(user$ | async)" mat-button routerLink="{{RouterEnum.login}}">Login</button>
    <button *ngIf="!(user$ | async)" mat-button routerLink="{{RouterEnum.register}}">Register</button>
    <button *ngIf="user$ | async" mat-button (click)="logout()">Logout</button>
  </nav>

  <button *ngIf="user$ | async as user" mat-button [matMenuTriggerFor]="menu">{{user.firstName}}</button>
  <mat-menu #menu="matMenu">
    <button *ngIf="user$ | async" mat-menu-item routerLink="{{RouterEnum.settings}}">Account settings</button>
    <button *ngIf="user$ | async" mat-menu-item routerLink="{{RouterEnum.settings}}">Preferences</button>
  </mat-menu>

</mat-toolbar>
